/.idea/
/venv/
*.json
/__pycache__
/data restore.py
*.log
/video links.txt
/video_liker.py
/multithread.py
/db.py
/Initial source code(Messy)
/my_liker_code.py
/app close.py
/dist
/YSL_H_isaac23.egg-info
/ysl/__pycache__
/test.txt
/data restore.py
/test.py
/YSL.py
.